* {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}


body {
  color: #333333;
  background: #efefee;

  overflow-x:hidden;
  line-height: 1.45;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul,
ol {
  padding: 0;
}

ul {
  -webkit-padding-start: 30px;
  list-style: disc;
}

ol {
  -webkit-padding-start: 30px;
  list-style: decimal;
}


img {
  margin: auto;
  display: block;
}

.caption,
.wp-caption-text,
figcaption {
  font-size: 0.9em;
  font-style: italic;
  text-align:center;
}

a,
a:visited,
a:hover,
a:active {
  color: #0095dd;
}

.container {
  margin: 12px;
  max-width: 700px;
}

.title h1 {
  font-size: 24px;
  line-height: 1.8rem;
  font-weight: 900;
  margin: 0;
}
.container .info {
  color: #989A95;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 14px;
}

.container .content {
  margin-top: 12px;
  word-wrap: break-word;
}

pre {
	width: 100%;
	overflow: auto;
	overflow-y: hidden;
  font-family: Courier, Monaco, monospace;
}


pre, code {
  white-space: pre;
  line-height: 1.3em;
  padding: 0.5em;
  font-size: 14px;
  font-family: Courier, Monaco, monospace;
}

blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #666;
  padding: 1.5em 0 0.5em;
  margin: 1.5em 0;
  position: relative;
}
blockquote:before {
  content: '\201C';
  position: absolute;
  background: #efefee;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3rem;
  height: 2rem;
  font: 6em/1.08em sans-serif;
  color: #666;
  text-align: center;
}

hr {
  border: 1px solid #666;
}


@media only screen and (min-width: 600px) {
  .title h1 {
    font-size: 30px;
    line-height: 2rem;
  }
  .container {
    width: 70%;
    margin: 24px auto;
  }
}


@media only screen and (min-width: 1000px) {
  .title h1 {
    font-size: 36px;
    line-height: 2.4rem;
  }
  .container {
    width: 60%;
    margin: 30px auto;
  }
}
/*
Atom One Light by Daniel Gamage
Original One Light Syntax theme from https://github.com/atom/one-light-syntax
Source: https://github.com/highlightjs/highlight.js/blob/master/src/styles/atom-one-light.css
*/

.hljs {
  color: #383a42;
  background: #fafafa;
}

.hljs-comment,
.hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #a626a4;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e45649;
}

.hljs-literal {
  color: #0184bb;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #50a14f;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #c18401;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #986801;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #4078f2;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
